{{- $name := index . "name" | default (env "GIT_NAME") -}}
{{- $email := index . "email" | default (env "GIT_EMAIL") -}}
{{- if and $name $email }}
[user]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
{{- end }}

[init]
    defaultBranch = main

[pull]
    rebase = false

[fetch]
    prune = true

[core]
    editor = vim
